@import url('https://fonts.googleapis.com/css2?family=Manrope&display=swap');

.main{
    max-width: 1280px; width: 100%; margin: 0 auto;
}

.main > .content{
    min-height: calc((100vh - 115px)); padding: 0 20px;
}

a{
    text-decoration: none;
}
ul{
    padding: 0;
}
li{
    list-style: none;
}
button{
    background: tomato; color: white;
    border: 0; padding: 5px 15px; cursor: pointer;
}

*{
    margin: 0; box-sizing: border-box;
    font-family: 'Manrope', sans-serif;
}

@mixin clearFix {
    &:after{
        clear: both; content: ""; display: block;
    }
}

