
.cart{
    max-width: 70%; width: 100%; 
    @media only screen and (max-width: 767px){
        max-width: 100%;
    }
    .product{
        margin: 20px 0;
        > div{
            width: calc((100% - 2 * 20px) / 3);
            display:inline-block;
            vertical-align: middle;
            &:not(:nth-child(3n)){
                margin-right: 20px;
            }
         }
         &__details{
            @media only screen and (max-width: 767px){
                width: 80px !important;
            }
         }
        &__image{
            width: 80px !important; height: 80px;
            padding: 8px; border: 1px solid black;
            img{
                width: 100%; height: 100%;
            }
        }
        &__actions{
            .controls{
                @media only screen and (max-width: 767px){
                    display: flex !important;
                }
            }
            &--btnLg{
                margin-left: 20px;
                @media only screen and (max-width: 767px){
                    display: block; margin: 10px 0 0;
                }
            }
           button, input, .controls{
            display: inline-block;
            vertical-align: top;
            text-align: center;
           }
           button{
            background: tomato; color: white;
            border: 0; padding: 5px 15px;
           }
           span{
            width: 35px; height: 30px;
            display: inline-block; text-align: center;
           }
        }
    }
}