.filters-wrapper{
    width: 30%;
    display: inline-block;
    vertical-align: top;
    padding: 0 100px 0 0;
    .filters{
        box-shadow: 5px 10px 18px #888888;
        padding: 10px 10px 10px 20px;
        .filters-list{
            >h3{
                margin: 10px 0;
            }
            > li{
                margin: 15px 0 0; 
                input{
                    margin: 0 10px 0 0;
                }
                label {
                    font-weight: bold;
                }
                > input, > label {
                    vertical-align: middle;
                    cursor: pointer;
                }
            }
        }
    }
}